body
{
	background-image:url("images/back.jpg");
}

div.layout
{
	border:3px solid purple;
	margin:22px 19px 19px 19px;
}

.bttn
{
	margin:8px 4px 4px 4px;
	width:20%;
	height:50px;
	background-color:pink;
	font-size:15px;
	font-weight:bold;
}

.text1
{
	font-size:20px;
	font-family:Georgia,serif;
	letter-spacing:1px;
	word-spacing:3px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
	text-align:center;
	font-variant:normal;
	text-transform:none;
}